body {
    font-family: "IBM Plex Mono", serif;
}

body > header > nav, #home {
    background: #DDBA88;
    padding: 10px 0;
}

.imghome {
    padding-left: 100px;
}

.orcamento {
    background-color: #986314;
    color: white;
}

.email-button 
{
display: inline-block;

padding: 10px 20px;

background-color: #007bff;

color: #fff;

text-decoration: none;

border-radius: 5px;

font-weight: bold;

transition: background-color 0.3s ease;
}


.email-button:hover 
{
background-color: #0056b3;
}

.card-body {
    background: #DDBA88;
    border-radius: 0px 0px 5px 5px;
}

.img-clientes {
    display: flex;
    width: 175px;
    padding: 20px;
    margin: 0px auto;
    border-radius: 50%;
}

.txt-center {
    text-align: center;
}